@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 10% 10%;
  }

  .dark {
    --background: 224 10% 10%;
    --foreground: 0 0% 95%;
  }

  body {
    @apply bg-gray-50 text-gray-900 dark:bg-gray-950 dark:text-gray-100;
  }
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }
}